.header {
  width: 100%;
  background-color: #eee;
}
@media (min-width: 0px) and (max-width:768px) {
    .home-header {
        margin: 0 auto;
        width: 100%;
        padding: 10px 0 0 0;
        border-bottom: solid 1px #aaa;
        overflow: hidden;
        max-width: 840px;
    }
    .home-header .home-header-info {
        display: block;
        margin-left: 30px;
        float: left;
        height: 49px;
        line-height: 49px;
        width: 100%;
    }

    .home-header .home-header-info:hover {
      background-color: #f8f8f8;
    }

    .home-header .home-header-info a {
        text-decoration: none;
        font-size: 1.5em;
    }

    .header-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
    }

    .header-nav li {
        float: left;
        width: 100%;
        border-top: solid 1px #aaa;
        border-bottom: solid 1px #aaa;
    }

    .header-nav li a {
        display: block;
        color: black;
        padding: 14px 30px;
        text-decoration: none;
    }

    .header-nav li a:hover {
        background-color: #f8f8f8;
    }

}

@media (min-width: 768px) {
    .home-header {
        margin: 0 auto;
        width: 100%;
/*        padding: 10px 0 0 0;*/
        border-bottom: solid 1px #aaa;
        overflow: hidden;
        max-width: 840px;
        
    }
    .home-header .home-header-info {
        display: block;
        margin-left: 30px;
        float: left;
        height: 49px;
        line-height: 49px;
    }

    .home-header .home-header-info:hover {
      background-color: #f8f8f8;
    }

    .home-header .home-header-info a {
        font-size: 1.5em;
        text-decoration: none;
    }

    .header-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
        
    }

    .header-nav li {
        float: left;
    }

    .header-nav li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .header-nav li a:hover {
        background-color: #f8f8f8;
    }

}