.container-header {
  background-color: #333;
  border-color: #333;
  color: #333;
}
/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0px 20px;
  margin:0 auto;
  max-width: 840px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.burger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    position: absolute;
    background-color: #333;
    top: 60px;
    left: 0;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .nav-links li {
    padding: 10px 0;
  }

  .burger {
    display: block;
  }
}