.article-container {
	margin: 0 auto;
	height: 50px;
	width: 100%;
	border: 1px solid red;
	text-align: center;
}

.article-date {
	margin: 0 auto;
	width: 30%;
	text-align: center;
	float: left;
}

.article-title {
	margin: 0 auto;
	width: 60%;
	float: left;
}