---
layout: default
---
<div class="resume card">
  <div class="header">
      <h1>Jinbao</h1>
      <div class="concat">
          <div class="box">(+86)13255292272</div>
          <div class="box">jinbaosite@163.com</div>
          <div class="box">微信号：JinbaoSite</div>
      </div>
  </div>
  <div class="section education">
      <h2>教育背景</h2>
      <div class="education-item">
          <div class="grid-item education-time">2013.9 - 2017.6</div>
          <div class="grid-item education-school">南京理工大学</div>
          <div class="grid-item education-pro">软件工程 - 学士</div>
      </div>
  </div>
  <div class="section internship">
      <h2>工作经历</h2>
      <div class="internship-item">
          <div class="work"><div class="grid-item work-company">同程旅行</div><div class="grid-item work-job">算法工程师</div><div class="grid-item work-time">2022.05-至今</div></div>
          <div>工作内容：负责度假产品推荐、景区猜你喜欢、周边游主页推荐、智能营销</div>
      </div>
      <div class="internship-item">
          <div class="work"><div class="grid-item work-company">腾讯</div><div class="grid-item work-job">高级算法工程师</div><div class="grid-item work-time">2020.10-2022.05</div></div>
          <div>工作内容：负责腾讯应用宝的oCPD项目，从0到1搭建oCPC和oCPD</div>
      </div>
      <div class="internship-item">
          <div class="work"><div class="grid-item work-company">趣头条</div><div class="grid-item work-job">广告算法工程师</div><div class="grid-item work-time">2018.10-2020.10</div></div>
      </div>
  </div>
</div>
